<html>
{% block content %}

<a href="/spell_check">Spellcheck</a>
<a href="/history">History</a>
<a href="/logout">Logout</a>

<div class='content-section'>
    <form method="POST" name='query' action='/query' id='query' readonly>  

    <head>
        <title>This is query # {{ queryid }}</title>
    </head>

    <body>
        <h1>Query id #</h1>
        <p id="queryid"><b>{{queryid}}</b></p>

        <h1>Username:</h1>
        <p id="username"><b>{{username}}</b></p>

        <h1>Input text: </h1>
        <p id="querytext"><b>{{querytext}}</b></p>

        <h1>Spellcheck results: </h1>
        <p id="queryresults"><b>{{queryresults}}</b></p>
    </body>

    <end></end>

{% endblock content %}
</html>